.upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  outline: 0;
  appearance: none;
  color: transparent;
  opacity: 0;
  width: 100px;
  cursor: pointer;
}

.datepicker {
  width: 100%;
  margin-top: 9px!important;

  >div::before {
    border-bottom: 2px solid #c6d2e1;
  }

  input {
    font-family: 'Montserrat', sans-serif;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    // color: #003166;
  }

  label {
    font-family: 'Montserrat', sans-serif;
     color: rgba(0, 49, 102, 0.53);
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    top: unset;
  }
}

.input {
  padding: 16px 40px;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: #003166;
  border: 0;
  display: flex;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  background: url(/search.svg) no-repeat scroll 18px 18px #E4E9F0;

  &:focus {
    border: 1px solid #007AFF;
    outline: 0;
  }

  &::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 49, 102, 0.53);
  }
}

.result {
  border: 1px solid transparent;
  border-radius: 60px;

  &:hover {
    border-color: #007AFF;
  }
}

.scrollBar {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  overflow: auto hidden;

  ::-webkit-scrollbar {
    width: 0;
  }
}

.placeText {
  @media screen and (max-width: 600px) {
    padding-bottom: 16px;
  }
}

.placeAddress {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  overflow: auto hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.textArea {
  background-color: transparent;
  width: 100%;
  resize: none;
  padding-left: 18px;
  padding-top: 16px;
  border: 1px solid rgba(0, 49, 102, 0.15);
  border-radius: 45px;
  font-size: 17px;

  &:focus {
    outline: none;
    border: 1px solid rgba(0, 49, 102, 0.15);

  }
}

.newsDialogue {
  overflow: auto hidden;

  ::-webkit-scrollbar {
    width: 0;
  }
}

.address {
  overflow: auto hidden;
}

.workspace {
  .leaveIcon {
    display: none;
    cursor: pointer;
    padding-top: 3px;
  }

  &:hover {
    .leaveIcon {
      display: flex;
    }
  }
}

.tooltipWrapper {
  .tooltip {
    visibility: hidden;
  }

  &:hover {
    .tooltip {
      visibility: visible;
    }
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #001D3D transparent transparent transparent;
  }
}

.textarea {
  width: 100%;
  resize: none;
  border: 0;
  outline: none;
  border-bottom: 2px solid #c6d2e1;
  padding: 12px 20px 0;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s;

  &:active, &:focus {
    border-color: 'rgba(0, 49, 102, 0.53)';
  }
}
